{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://workmail.amazonaws.com/"
        },
        {
            "url": "http://workmail.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>Amazon WorkMail is a secure, managed business email and calendaring service with support for existing desktop and mobile email clients. You can access your email, contacts, and calendars using Microsoft Outlook, your browser, or their native iOS and Android email applications. You can integrate Amazon WorkMail with your existing corporate directory and control both the keys that encrypt your data and the location in which your data is stored.</p> <p>The Amazon WorkMail API is designed for the following scenarios:</p> <ul> <li> <p>Listing and describing organizations</p> </li> </ul> <ul> <li> <p>Managing users</p> </li> </ul> <ul> <li> <p>Managing groups</p> </li> </ul> <ul> <li> <p>Managing resources</p> </li> </ul> <p>All Amazon WorkMail API actions are Amazon-authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of IAM users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the Amazon WorkMail site, the IAM user gains full administrative visibility into the entire Amazon WorkMail organization (or as set in the IAM policy). This includes, but is not limited to, the ability to create, update, and delete users, groups, and resources. This allows developers to perform the scenarios listed above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon WorkMail",
        "version": "2017-10-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workmail-2017-10-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "workmail"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/workmail/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds a member to the resource's set of delegates.",
                "operationId": "AssociateDelegateToResource",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "EntityNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The identifier supplied for the entity is valid, but it does not exist in your organization.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "EntityStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are performing an operation on an entity that isn't in the expected state, such as trying to update a deleted user.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "One or more of the input parameters don't match the service's restrictions.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "OrganizationNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An operation received a valid organization identifier that either doesn't belong or exist in the system.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "OrganizationStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its entities.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "EntityId": {
                                        "description": "The member (user or group) to associate to the resource.",
                                        "maxLength": 256,
                                        "minLength": 12,
                                        "type": "string"
                                    },
                                    "OrganizationId": {
                                        "description": "The organization under which the resource exists.",
                                        "pattern": "^m-[0-9a-f]{32}$",
                                        "type": "string"
                                    },
                                    "ResourceId": {
                                        "description": "The resource for which members are associated.",
                                        "pattern": "^r-[0-9a-f]{32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "OrganizationId",
                                    "ResourceId",
                                    "EntityId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociateMemberToGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds a member to the group's set.",
                "operationId": "AssociateMemberToGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectoryServiceAuthenticationFailedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The Directory Service doesn't recognize the credentials supplied by the Amazon WorkMail service.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DirectoryUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The directory that you are trying to perform operations on isn't available.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "EntityNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The identifier supplied for the entity is valid, but it does not exist in your organization.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "EntityStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are performing an operation on an entity that isn't in the expected state, such as trying to update a deleted user.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "One or more of the input parameters don't match the service's restrictions.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "OrganizationNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An operation received a valid organization identifier that either doesn't belong or exist in the system.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "OrganizationStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its entities.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "487": {
                        "description": "UnsupportedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You can't perform a write operation against a read-only directory.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "GroupId": {
                                        "description": "The group for which the member is associated.",
                                        "maxLength": 256,
                                        "minLength": 12,
                                        "type": "string"
                                    },
                                    "MemberId": {
                                        "description": "The member to associate to the group.",
                                        "maxLength": 256,
                                        "minLength": 12,
                                        "type": "string"
                                    },
                                    "OrganizationId": {
                                        "description": "The organization under which the group exists.",
                                        "pattern": "^m-[0-9a-f]{32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "OrganizationId",
                                    "GroupId",
                                    "MemberId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateAlias": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds an alias to the set of a given member of Amazon WorkMail.",
                "operationId": "CreateAlias",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "EmailAddressInUseException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The email address that you're trying to assign is already created for a different user, group, or resource.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "EntityNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The identifier supplied for the entity is valid, but it does not exist in your organization.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "EntityStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are performing an operation on an entity that isn't in the expected state, such as trying to update a deleted user.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "One or more of the input parameters don't match the service's restrictions.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "MailDomainNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "For an email or alias to be created in Amazon WorkMail, the included domain must be defined in the organization.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "MailDomainStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "After a domain has been added to the organization, it must be verified. The domain is not yet verified.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "OrganizationNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An operation received a valid organization identifier that either doesn't belong or exist in the system.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "487": {
                        "description": "OrganizationStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its entities.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Alias": {
                                        "description": "The alias to add to the user.",
                                        "maxLength": 254,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9._%+-]{1,64}@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}",
                                        "type": "string"
                                    },
                                    "EntityId": {
                                        "description": "The alias is added to this Amazon WorkMail entity.",
                                        "maxLength": 256,
                                        "minLength": 12,
                                        "type": "string"
                                    },
                                    "OrganizationId": {
                                        "description": "The organization under which the member exists.",
                                        "pattern": "^m-[0-9a-f]{32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "OrganizationId",
                                    "EntityId",
                                    "Alias"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a group that can be used in Amazon WorkMail by calling the RegisterToWorkMail operation.",
                "operationId": "CreateGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "GroupId": {
                                            "description": "The ID of the group.",
                                            "maxLength": 256,
                                            "minLength": 12,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectoryServiceAuthenticationFailedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The Directory Service doesn't recognize the credentials supplied by the Amazon WorkMail service.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DirectoryUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The directory that you are trying to perform operations on isn't available.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "One or more of the input parameters don't match the service's restrictions.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "NameAvailabilityException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The entity (user, group, or user) name isn't unique in Amazon WorkMail.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "OrganizationNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An operation received a valid organization identifier that either doesn't belong or exist in the system.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "OrganizationStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its entities.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "ReservedNameException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "This entity name is not allowed in Amazon WorkMail.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "487": {
                        "description": "UnsupportedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You can't perform a write operation against a read-only directory.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "The name of the group.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "pattern": "[\\u0020-\\u00FF]+",
                                        "type": "string"
                                    },
                                    "OrganizationId": {
                                        "description": "The organization under which the group is to be created.",
                                        "pattern": "^m-[0-9a-f]{32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "OrganizationId",
                                    "Name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateResource": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new Amazon WorkMail resource. The available types are equipment and room.",
                "operationId": "CreateResource",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ResourceId": {
                                            "description": "The identifier of the created resource.",
                                            "pattern": "^r-[0-9a-f]{32}$",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectoryServiceAuthenticationFailedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The Directory Service doesn't recognize the credentials supplied by the Amazon WorkMail service.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DirectoryUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The directory that you are trying to perform operations on isn't available.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "One or more of the input parameters don't match the service's restrictions.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "NameAvailabilityException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The entity (user, group, or user) name isn't unique in Amazon WorkMail.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "OrganizationNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An operation received a valid organization identifier that either doesn't belong or exist in the system.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "OrganizationStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its entities.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "ReservedNameException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "This entity name is not allowed in Amazon WorkMail.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "The name of the created resource.",
                                        "maxLength": 20,
                                        "minLength": 1,
                                        "pattern": "[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9]{2,})?",
                                        "type": "string"
                                    },
                                    "OrganizationId": {
                                        "description": "The identifier associated with the organization for which the resource is created.",
                                        "pattern": "^m-[0-9a-f]{32}$",
                                        "type": "string"
                                    },
                                    "Type": {
                                        "description": "The type of the created resource.",
                                        "enum": [
                                            "ROOM",
                                            "EQUIPMENT"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "OrganizationId",
                                    "Name",
                                    "Type"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateUser": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a user who can be used in Amazon WorkMail by calling the RegisterToWorkMail operation.",
                "operationId": "CreateUser",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "UserId": {
                                            "description": "The information regarding the newly created user.",
                                            "maxLength": 256,
                                            "minLength": 12,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectoryServiceAuthenticationFailedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The Directory Service doesn't recognize the credentials supplied by the Amazon WorkMail service.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DirectoryUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The directory that you are trying to perform operations on isn't available.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "One or more of the input parameters don't match the service's restrictions.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidPasswordException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The supplied password doesn't match the minimum security constraints, such as length or use of special characters.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "NameAvailabilityException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The entity (user, group, or user) name isn't unique in Amazon WorkMail.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "OrganizationNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An operation received a valid organization identifier that either doesn't belong or exist in the system.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "OrganizationStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its entities.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "487": {
                        "description": "ReservedNameException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "This entity name is not allowed in Amazon WorkMail.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "488": {
                        "description": "UnsupportedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You can't perform a write operation against a read-only directory.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DisplayName": {
                                        "description": "The display name for the user to be created.",
                                        "maxLength": 256,
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "The name for the user to be created.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9]{2,})?",
                                        "type": "string"
                                    },
                                    "OrganizationId": {
                                        "description": "The identifier of the organization for which the user is created.",
                                        "pattern": "^m-[0-9a-f]{32}$",
                                        "type": "string"
                                    },
                                    "Password": {
                                        "description": "The password for the user to be created.",
                                        "format": "password",
                                        "maxLength": 256,
                                        "pattern": "[\\u0020-\\u00FF]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "OrganizationId",
                                    "Name",
                                    "DisplayName",
                                    "Password"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteAlias": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Remove the alias from a set of aliases for a given user.",
                "operationId": "DeleteAlias",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "EntityNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The identifier supplied for the entity is valid, but it does not exist in your organization.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "EntityStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are performing an operation on an entity that isn't in the expected state, such as trying to update a deleted user.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "One or more of the input parameters don't match the service's restrictions.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "OrganizationNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An operation received a valid organization identifier that either doesn't belong or exist in the system.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "OrganizationStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its entities.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Alias": {
                                        "description": "The aliases to be removed from the user's set of aliases. Duplicate entries in the list are collapsed into single entries (the list is transformed into a set).",
                                        "maxLength": 254,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9._%+-]{1,64}@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}",
                                        "type": "string"
                                    },
                                    "EntityId": {
                                        "description": "The identifier for the Amazon WorkMail entity to have the aliases removed.",
                                        "maxLength": 256,
                                        "minLength": 12,
                                        "type": "string"
                                    },
                                    "OrganizationId": {
                                        "description": "The identifier for the organization under which the user exists.",
                                        "pattern": "^m-[0-9a-f]{32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "OrganizationId",
                                    "EntityId",
                                    "Alias"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a group from Amazon WorkMail.",
                "operationId": "DeleteGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectoryServiceAuthenticationFailedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The Directory Service doesn't recognize the credentials supplied by the Amazon WorkMail service.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DirectoryUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The directory that you are trying to perform operations on isn't available.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "EntityStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are performing an operation on an entity that isn't in the expected state, such as trying to update a deleted user.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "One or more of the input parameters don't match the service's restrictions.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "OrganizationNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An operation received a valid organization identifier that either doesn't belong or exist in the system.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "OrganizationStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its entities.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "UnsupportedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You can't perform a write operation against a read-only directory.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "GroupId": {
                                        "description": "The identifier of the group to be deleted.",
                                        "maxLength": 256,
                                        "minLength": 12,
                                        "type": "string"
                                    },
                                    "OrganizationId": {
                                        "description": "The organization that contains the group.",
                                        "pattern": "^m-[0-9a-f]{32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "OrganizationId",
                                    "GroupId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteMailboxPermissions": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes permissions granted to a user or group.",
                "operationId": "DeleteMailboxPermissions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "EntityNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The identifier supplied for the entity is valid, but it does not exist in your organization.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "EntityStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are performing an operation on an entity that isn't in the expected state, such as trying to update a deleted user.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "One or more of the input parameters don't match the service's restrictions.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "OrganizationNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An operation received a valid organization identifier that either doesn't belong or exist in the system.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "OrganizationStateException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its entities.",
                                    "properties": {
                                        "Message": {
                                            "maxLength": 256,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "EntityId": {
                                        "description": "The identifier of the entity (user or group) for which to delete mailbox permissions.",
                                        "maxLength": 256,
                                        "minLength": 12,
                                        "type": "string"
                                    },
                                    "GranteeId": {
                                        "description": "The identifier of the entity (user or group) for which to delete granted permissions.",
                                        "maxLength": 256,
                                        "minLength": 12,
                                        "type": "string"
                                    },
                                    "OrganizationId": {
                                        "description": "The identifier of the organization under which the entity (user or group) exists.",
                                        "pattern": "^m-[0-9a-f]{32}$",
                                        "type": "string"
[...]
